<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stephane.rothen.rchrono">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.ChronometreActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".controller.ChronoService" />

        <activity
            android:name=".controller.ListeSequencesActivity"
            android:label="@string/title_activity_liste_sequences"
            android:parentActivityName=".controller.ChronometreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephane.rothen.rchrono.controller.ChronometreActivity" />
        </activity>
        <activity
            android:name=".controller.AjoutSequenceActivity"
            android:label="@string/title_activity_ajout_sequence"
            android:parentActivityName=".controller.ListeSequencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephane.rothen.rchrono.controller.ChronometreActivity" />
        </activity>
        <activity
            android:name=".controller.EditionSequenceActivity"
            android:label="@string/title_activity_editionSequence"
            android:parentActivityName=".controller.ListeSequencesActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephane.rothen.rchrono.controller.ChronometreActivity" />
        </activity>
        <activity
            android:name=".controller.EditionExerciceActivity"
            android:label="Edition de l'exercice"
            android:parentActivityName=".controller.EditionSequenceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephane.rothen.rchrono.controller.ChronometreActivity" />
        </activity>
    </application>

</manifest>
